# === Miscellaneous ===
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# === IntelliJ / IDEs ===
*.iml
*.ipr
*.iws
.idea/

# VS Code (on garde la conf utile, on ignore le reste)
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# === Flutter / Dart / Pub ===
.dart_tool/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# === Android ===
android/.gradle/
android/local.properties
android/**/build/
android/app/debug
android/app/profile
android/app/release

# === iOS ===
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# === macOS ===
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# === Windows ===
windows/flutter/ephemeral/
windows/**/build/

# === Linux ===
linux/flutter/ephemeral/
linux/**/build/

# === Web ===
web/.dart_tool/

# === Symbolication / Obfuscation ===
app.*.symbols
app.*.map.json

# === Env / secrets ===
.env
.env.*
